<div class="container">
    <div class="row">
        <div class="col-12 text-center d-flex justify-content-center m-4">
            <h1 class="mt-3 w-100 ">Ta strona jest w trakcie tworzenia...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <iframe src="https://giphy.com/embed/2ikwIgNrmPZICNmRyX" width="480" height="480" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>
