<div>
    <h1 class="MyTitle m-3">Lista oficjalnych tytułów:</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <app-book-form></app-book-form>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Numer</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of service.list">            
                    <td (click)="populateForm(b)">{{b.id}}</td>
                    <td (click)="populateForm(b)">{{b.title}}</td>
                    <td (click)="populateForm(b)">{{b.author}}</td>
                    <td (click)="populateForm(b)">{{b.description}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(b.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



