<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmitNote(form)">
    <input type="hidden" name="noteId" [value]="service.formData.noteId"/>
    <div class="form-group">
        <label>book id</label>
        <input class="form-control form-control-lg" placeholder="bookId"
        name="userId" #userId="ngModel" [(ngModel)]="service.formData.bookId" required [class.invalid]="bookId.invalid && bookId.touched"/>
    </div>
    <div class="form-group">
        <label>user id</label>
        <input class="form-control form-control-lg" placeholder="userId"
        name="bookId" #bookId="ngModel" [(ngModel)]="service.formData.userId" required [class.invalid]="userId.invalid && userId.touched"/>
    </div>
    <div class="form-group">
        <label>Comment</label>
        <input class="form-control form-control-lg" placeholder="comment"
        name="comment" #comment="ngModel" [(ngModel)]="service.formData.comment" required [class.invalid]="comment.invalid && comment.touched"/>
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>

<!-- 
name="comment" #title="ngModel" [(ngModel)]="service.formData.comment" required [class.invalid]="title.invalid && title.touched"/> -->
